<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDWbPuslTH6KwxGANm3UccjIUHJuebx5k0</string>
	<key>GCM_SENDER_ID</key>
	<string>52291874613</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stouchi.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>stouchi-8c2ba</string>
	<key>STORAGE_BUCKET</key>
	<string>stouchi-8c2ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:52291874613:ios:23922d653344a7251f667c</string>
</dict>
</plist>